/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400&display=swap');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Open Sans', 'Noto Sans', 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Open Sans', 'Noto Sans', 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.5em;
$heading2Size: 1.2em;
$heading3Size: 1.0em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.gray {
  color: gray !important;
}

.simple-text{
  font-size: 70%;
}

.very-simple-text {
  font-size: 60%;
}

.very-very-simple-text {
  font-size: 30%;
}

.organizadores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-organizadores {
  border: 1px solid #00000012;
  border-radius: 6px;
  padding: 16px;
  padding-top: 0px;
  margin: 8px;
}

.card-organizadores p {
  margin: 0;
  margin-top: 8px;
  font-size: 25%;
  color: #5f6368;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info h2 {
  color: #5f6368;
  font-size: 40%;
  font-weight: 600;
  margin: 0;
}

.background-image-text {
  font-size: 16px;
  background-color: #00000050;
  width: 200px;
  color: #fff;
  padding: 8px;
  margin: auto;
}

small {
  color: silver;
  font-weight: lighter;
}

ul li {
  line-height: 1.7em;
}

.extra-margin {
  margin: 40px !important;
}

html.img-right div.slide-background.present {
  background-position: right;
  opacity: 0.5;
}